<section class="backnav">
  <div class="backnav_start-content">
    <h2 class="heading heading--big">Home</h2>
    <p class="text"><%= content %></p>
  </div>
  <div class="backnav_popular">
    <h2 class="heading heading--big">Trending:</h2>
    <% for( let index = 0; index < postsSorted.length; index++ ) { %>
    <a href="../post/<%=postsSorted[index].postId%>">
      <div class="popular_post">
        <img src="../uploads/images/<%= postsSorted[index].image %>"/>
        <h4 class="heading heading--small"><%= postsSorted[index].title%></h4>
      </div>
    </a> 
    <% } %>
  </div>
</section>