<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Lora:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>

  <header class="top">

    <nav class="nav">

        <a href="/" class="nav_logo">DAILY JOURNAL</a>

        <ul class="nav_list">
          <li id="home" class="nav_item"><a class="nav_link" href="/">HOME</a></li>
          <li id="about" class="nav_item"><a class="nav_link" href="/about">ABOUT US</a></li>
          <li id="contact" class="nav_item"><a class="nav_link" href="/contact">CONTACT US</a></li>
        </ul>
    </nav>

  </header>

  <div class="content-container">
