<%- include('patrials/header') %> 
<div class="about">
  <%- include('patrials/backnav', {content:content, postsSorted:postsSorted})%>
  <section class="about_section">
    <h1  class="heading heading--big">About</h1> 
    <p class="text"><%=aboutContent%></p>
  </section>
</div>
<%- include('patrials/footer') %> 