<%- include('patrials/header') %> 
<div class="contact">
  <%- include('patrials/backnav', {content:content, postsSorted:postsSorted})%>
  <section class="contact_section">
    <h1 class="heading heading--big">Contact us</h1> 
    <p class="text"><%=contactContent%></p>
  </section>
</div>
<%- include('patrials/footer') %> 