.compose{
  @include view--basic;
  align-items: center;
  justify-content: center;
  &_section{
    @include card--basic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
      align-self: flex-start;
    }
    form{
      display: flex;
      flex-direction: column;
      height: 80%;
      *{
        margin-bottom: $margin;
      }
      .form_input{
        @include input--basic;
      }
      textarea{
        @include textarea--basic;
      }
      .btn{
        @include button--submit;
        align-self: flex-end;
      }
    }
    
  }
}