.contact{
  @include view--basic;
  &_section{
    @include card--basic;
    display: flex;
    height: 50vh;
    flex-direction: row;
    text-align: left;
    *{
      padding: $padding;
    }
  }
  &_text{
    width: 50%;
    
    .heading{
      padding-top: 0;
    }
  }
  &_form{
    display: flex;
    width:50%;
    flex-direction: column;
    margin-top: $margin;
    label{
      padding: 0.5*$padding;
    }
    input{
      @include input--basic;
      margin-bottom: $margin;
    }
    textarea{
      @include textarea--basic;
    }
    button{
      @include button--submit;
      align-self: flex-end;
      margin-top:$margin;
    }
  }
}