.home{
  @include view--basic;
  &_posts-container{
    display: flex;
    flex-direction: column;
    width: 70%; 
    align-items: center;
  }
  &_single-post{
    @include card--basic;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .single-post{
    &_image{
      width: 40%;
      img{
        width: 100%;
      }
    }
    &_text{
      width: 60%;
      .text{
        margin-bottom: $margin;
      &_author{
        text-align: right;}
      }
    }
  }
}