@mixin section-padding {
  padding: 5vh 10vw;
}

@mixin card--basic{
  margin: $margin;
  padding: $padding;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.514);
}
@mixin view--basic{
  @include section-padding;
  background-color: $color-font--light;
  min-height: 80vh;
  display: flex;
  flex-direction: row-reverse;
}

@mixin input--basic{
  width: 50%;
  background-color: $color-font--light;
  border-style: solid;
  border-color: $color--main;
  border-radius: 5px;
  border-width: 2px;
  height: 2*$font-size--text--normal;
  padding: $padding;
}
@mixin textarea--basic {
  width: 100%;
  background-color: $color-font--light;
  border-style: solid;
  border-width: 2px;
  border-color: $color--main;
  border-radius: 5px;
}
@mixin button--submit {
  background-color: $color--main;
  color: $color-font--light;
  border-color: $color--main;
  width: 30%;
  letter-spacing: 2px;;
  height: 4*$font-size--text--normal;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: all 0.5s;
  &:hover{
    letter-spacing: 4px;
  }
}
