/* Colors */

  $color--main:rgb(93, 170, 104);
  $color--second: rgb(63, 104, 68);

  $color-font--light:rgb(250, 241, 207);
  $color-font--dark: rgb(63, 104, 68);

/* Padding & Margin */

  $margin: 2vh;
  $padding: 1.5vh;

/* Font Sizes */

 $font-size-header--big: 3.5rem;
 $font-size-header--medium: 2.5rem;
 $font-size-header--small: 1.5rem;
 $font-size--text--normal: 1rem;
 $font-size--text--small: 0.75rem;

